 *  {font-family: "EB Garamond", serif;
        font-size: 13pt;
        font-optical-sizing: auto;
        font-weight: normal;
        line-height: 1.6em;
        font-style: normal;}
        h1 {font-weight:bold;font-size:20pt;line-height:1em}
        h2 {font-weight:bold;font-size:15pt;font-weight:normal;line-height:1em;font-style: italic;}
        #content {
            max-width:800px;
            padding:0 4vw
        }