body,h1,h3 {
      font-family: 'Roboto Condensed', sans-serif;
}
#accordion,body {margin:0;padding:0}
#avatar {width:64px;margin-right:20px}
h1 {margin:0 10py 0 10px,font-size:0.7em}
h3 img {margin: 0 3px 0 3px}

