* {
      font-family: "Roboto"	
}
#accordion,body {margin:0;padding:0}
#avatar {width:64px;margin-right:20px}
h1 {margin:0 10px 0 10px,font-size: 14pt}
h1 div {margin-right:20px}
h3 img {margin: 0 3px 0 3px}
td {width: 50%;vertical-align:top;background-color:#f8f8f8;padding:2px}
table {width:100%}
th {background-color:#eee}
dt {font-weight:bold}
.shots img {width:120px;margin-right:5px;float:left}