body,html,main {height:100%;width:100%;margin:0}
#uc9,main {height:100%}
#drawer {
	
	right:0;
	top:10px;
	width:240px;
	height:80%;
	
}

#largelogo {position:absolute;bottom:0;right:0;width:32%;z-index:2;padding:10px}
#selector {	
	border: 1px solid silver;
	
	background-color:white;
	overflow-y:hidden;
	overflow-x:hidden;
	height:100%
	
}

#arztgroups {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%
}


.opened {
	color:green
}
.closed {
	color:red
}
.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav  {z-index:999;background-color:transparent}

#mapselector {position:absolute;top:32px;left:10px;background-color:transparent;z-index:999;width:240px;height:240px}	
#pdfrunterlader {position:absolute;top:10px;left:10px;background-color:transparent;height:60px;z-index:999;width:100px;}	
#pdfrunterlader img {width:48px;padding:0px}



.autocomplete {font-weight:bold;background-color:#0764a9;width:100%;border:none;padding:7px;color:white}	

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #0764a9}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



.ag {padding:7px;padding-right:24px;font-family: Roboto, Arial, sans-serife;font-size:0.9em;border-top:1px solid #eee;cursor:pointer;}	
.ag span {font-size:.7em;color:#0764a9}

div, span {font-family: Roboto, Arial, sans-serife;}

[active="1"] {color:#555}
[active="0"] {color:silver}

i {font-size:0.8em;font-weight:lighter;color:#0764a9}

#searchtypeselector {position:absolute;right:0;width:126px;top:0px;height:30px}

.arztcontainer {
	width:270px;
	padding:0px;
	max-height:360px;
	overflow-x: hidden;
	overflow-y: auto;
	
}
.arztcontainer div {
	
}
.arzttext {margin-bottom:10px
}
.arztinfo {
	border: 1px dotted silver;
	border-top: none;
	padding:5px;
	padding-bottom: 20px
}
.accordiontrigger {
	cursor: pointer;
	text-overflow: ellipsis;
	font-weight:bold;
	padding: 4px;
	background-color:#eee;
	margin:1px
}

.wd_mo:hover {
	fill:blue
}

svg.scheduler {margin-top:15px
}

.auf, .zu {
	vertical-align:baseline;
	width: 10px;
	opacity: 0.4;
	margin-right: 6px
}

.telqr,mobqr, .mailqr	 {
	height:110px;
	
}
a { text-decoration:none
}
.arztinfo p {margin:0!important;padding:2.5px 0!important}
.numbers {margin:3px 0}
